*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* AQUÍ EMPIEZAN LOS ESTILOS DE LA CABECERA */
header{
    background-image:url(https://image.freepik.com/vector-gratis/fondo-negro-degradado-lineas-onduladas_23-2149147612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 26px;
}
.mov2{
    padding-left: 10px;
}
.Login_Register a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.Login_Register a:hover{
    color: orange;
}
.Login_Register a:active{
    color: orangered;   
}
p{
    text-align: right;
    padding-top:2px;
}
.fondo_cabecera{
    background-color: maroon;
}
.fondo_cabecera__item{
    display:inline-block;
}
nav{
    padding: 10px;
}
h1{
    padding-left: 10px;
    padding-bottom: 5px;
    color: orange;
    font-size: 60px
}
.estilo-nav{
    padding-left: 90px;
    list-style: none;
}
.estilo-nav a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.estilo-nav__item a:hover{
    color: orange;
}
.estilo-nav__item a:active{
    color: orangered;
}
/* AQUÍ EMPIEZA LOS ESTILOS DEL BODY */

/* FOTOS QUE VAN CAMBIANDO CADA 4s*/
main{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-negro-degradado-texturas-doradas_23-2149151860.jpg?size=338&ext=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 15px;
    border-bottom: 1px solid brown;
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    list-style: none;
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider img{
    padding-top: 10px;
    width: 100%;
    height: 70%;

}
@keyframes cambio{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/* FOTOS DE LOS PRODUCTOS EN VENTA */

.espacios_foto{
    margin-left: 25px;
    color: white;
    border: 5px solid white;
    background: white;
}
.espacios_foto_fila2{
    margin-top: 15px;
    margin-left: 25px;
    color: white;
    border: 5px solid white;
}
.espacios_foto_fila3{
    margin-top: 15px;
    margin-left: 25px;
    color: white;
    border: 5px solid white;
}
.espacios_foto_fila4{
    margin-top: 15px;
    margin-left: 25px;
    color: white;
    border: 5px solid white;
}
.estilo_figure__item{
    display:inline-block;
}
.color_figcaption{
    text-decoration: none;
    color: black;
}

/*AQUÍ EMPIEZA EL FOOTER*/
footer{
    background-image:url(https://image.freepik.com/vector-gratis/fondo-negro-degradado-lineas-onduladas_23-2149147612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}