*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(https://image.freepik.com/foto-gratis/fondo-pared-ladrillo-textura-negro_53876-63583.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: rgb(63, 63, 63);
}
main{
    text-align: center;
    margin-top:150px;
    border: 1px solid #e1e1e1;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    padding: 1px 17px;
    background-image: url(https://image.freepik.com/foto-gratis/fondo-pared-ladrillo-textura-negro_53876-63583.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
h1{
    border-bottom:1px solid grey;
    padding-top: 1px;
    color: rgb(190, 190, 190);
}
.form_nombre1{
    padding-top: 15px;
}
.form_nombre1__item{
    padding-right: 15px;
}
.form_nombre2{
    padding-top: 15px;
}
.form_nombre2__item{
    padding-right: 26px;
}
.form_apellido1{
    padding-top: 15px;
}
.form_apellido1__item{
    padding-right: 16px;
}
.form_apellido2{
    padding-top: 15px;
}
.form_apellido2__item{
    padding-right: 26px;
}
.correo_electronico{
    padding-top: 15px;
}
.correo_electronico__item{
    padding-right: 42px;
}
.contraseña{
    padding-top: 15px;
}
.contraseña__item{
    padding-left: 14px;
}
.confirmar_contraseña{
    padding-top: 15px;
}
.confirmar_contraseña__item{
    padding-right: 67px;
}
.tipo_de_documento{
    padding-top: 15px;
}
.tipo_de_documento__item{
    padding-right: 93px;
}
.numero_de_documento{
    padding-top: 15px;
}
.numero_de_documento__item{
    padding-right: 70px;
}
.fecha_de_nacimiento{
    padding-top: 15px;
}
.fecha_de_nacimiento__item{
    padding-right: 96px;
}
.genero{
    padding-top: 15px;
}
.genero__item{
    padding-right: 68px;
}
.numero_celular{
    padding-top: 15px;
    padding-bottom: 15px;
}
.numero_celular__item{
    padding-right: 34px;
}
.boton{
    padding-bottom: 10px;
}
.aviso{
    padding-bottom: 10px;
    font-size: 11px;
    color: rgb(155, 155, 155);
}
.span{
    color: rgb(190, 190, 190);
    font-size: 18px
}